assert.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="X">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="a" type="xs:string" />
				<xs:element name="b" type="xs:string" />
			</xs:choice>
			<xs:assert test="count(*) le 5000" />
		</xs:complexType>
	</xs:element>
</xs:schema>