test-sequence.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="X">
		<xs:complexType>
			<xs:sequence maxOccurs="80">
				<xs:element name="a" type="xs:string" />
				<xs:element name="b" type="xs:string" maxOccurs="40" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
